node_modules
.next
out
.git
.github
.gitignore
.idea
.vscode
.DS_Store

infra/contact-lambda/node_modules
infra/contact-lambda/dist
infra/terraform/**/.terraform
infra/terraform/**/.terraform.lock.hcl
infra/terraform/**/terraform.tfstate*

README.md
*.md
!app/**/*.md
!content/**/*.md
