aws_region      = "us-east-1"
domain_name     = "pdcarlson.dev"
mail_from       = "no-reply@pdcarlson.dev"
mail_to         = "pdcarlson06@gmail.com"
github_owner    = "pdcarlson"
github_repo     = "pdcarlson"
